<footer class="footer">
  <div class="container">
    <span>Nicolás Cieri Salcedo</span>
    <span>Curso React 43370</span>
    <span>Coderhouse</span>
    <a href="https://github.com/nicocieri" target="_blank">Github</a>
  </div>
</footer>